/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import "~bootstrap/scss/bootstrap";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

:not(.phx-no-feedback) > .is-not-valid {
    @extend .is-invalid;
}


.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* PHOTO LIST */
.photo_item {
    border: 1px solid #dddddd;
    .title {
        font-weight: bold;
    }
    .desc {
        text-align: left;
    }
    .desc ul {
        text-align: left;
    }
    .desc ol {
        text-align: left;
    }
    a {
        color: #333;
        text-decoration: none;
    }
    &:HOVER {
        border: 1px solid #000;
    }
}

.photo_list {
    .removed {
        text-decoration: line-through;
        opacity: 0.5;
    }
    .regenerate {
        background: #CCE;
        color: #333;
    }
    .selecting {
        background: #FECA40;
    }
    .selected {
        background: #F39814;
    }
    .photo_item {
        display: inline-block;
        vertical-align: top;
        height: 170px;
        margin: 10px;
        padding-top: 10px;
        text-align: center;
        width: 140px;
    }
}
